@font-face {
    font-family: vazir;
    src: url("fonts/Vazir.eot") format("eot");
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: vazir;
    font-weight: 600;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.css-search{
    background-color: #D73948;
}
.css-search-icon{
    color: white;
    font-weight: bold;
}
.css-web-icon{
    width: 50px;
    height: 50px;
}
.text-moarefi{
    max-width: 1000px;
    text-align: justify;
    overflow: hidden;
}